.container {
  width: 100%; /* Задайте ширину контейнера, яка підходить для великих екранів */
  margin: 0 auto; /* Центруємо контейнер на сторінці */
  justify-content: center;
  text-align: center;
}

#imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


