<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Image Gallery</span>
  <span class="example-spacer"></span>
  <ng-container *ngIf="isAuthenticated(); else loginButton">
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>View Account</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu" class="account-button">
      <span>{{ userName }}</span>
      <span class="arrow-icon">
    <mat-icon>arrow_drop_down</mat-icon>
  </span>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button>Login</button>
  </ng-template>

  <ng-template #loginButton>
    <!-- Кнопка входу, якщо користувач не авторизований -->
    <button mat-button>Login</button>
  </ng-template>
</mat-toolbar>
