.example-spacer {
  flex: 1 1 auto;
}

.account-button {
  display: flex;
  align-items: center;
}

.arrow-icon {
  margin-left: 4px;
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Adjust spacing between items */
  align-items: center;
}

.toolbar-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toolbar-spacer {
  flex-grow: 1;
}

.toolbar-content button {
  margin-right: 0;
}

.toolbar-content button mat-icon {
  margin-right: 0;
}
